<header class="navbar navbar-expand-lg p-8">
  <div class="container-fluid p-0">
    <div class="d-flex justify-content-between align-items-center">
      <!-- page title -->
      <h2 class="navbar-brand fw-bold fs-2 me-6 text-dark">Admin</h2>
      <!-- Add new admin button -->
      <button
        type="button"
        class="btn fw-bold hover-primary"
        data-bs-toggle="modal"
        data-bs-target="#addNewModal"
      >
        <span class="material-symbols-outlined align-bottom text-primary me-2">
          add
        </span>
        Add New Admin
      </button>
    </div>
    <!-- header buttons -->
    <div>
      <button type="button" class="btn me-4 p-1">
        <span class="material-symbols-outlined align-bottom"> search </span>
      </button>
      <button type="button" class="btn p-1">
        <span class="material-symbols-outlined align-bottom">
          notifications_active
        </span>
      </button>
    </div>
  </div>
</header>
