<header class="navbar navbar-expand-lg p-8">
  <div class="container-fluid p-0">
    <div class="d-flex justify-content-between align-items-center">
      <!-- page title -->
      <h2 class="navbar-brand fw-bold fs-2 me-6 text-dark">Assignment</h2>
      <!-- Course selector -->
      <div class="navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              All Courses
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="#">Course 1</a></li>
              <li><a class="dropdown-item" href="#">Course 2</a></li>
              <li><a class="dropdown-item" href="#">Course 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- header buttons -->
    <div>
      <button type="button" class="btn me-4 p-1">
        <span class="material-symbols-outlined align-bottom"> search </span>
      </button>
      <button type="button" class="btn p-1">
        <span class="material-symbols-outlined align-bottom">
          notifications_active
        </span>
      </button>
    </div>
  </div>
</header>
