<table class="table table-hover mb-13">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#1</th>
      <td>Emir Wicks</td>
      <td>emir.wicks@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <!-- visibility Button trigger modal -->
        <button
          type="button"
          class="btn p-0 me-4"
          data-bs-toggle="modal"
          data-bs-target="#visibilityModal"
        >
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <!-- edit Button trigger modal -->
        <button
          type="button"
          class="btn p-0"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
        >
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#2</th>
      <td>Zaina Goldsmith</td>
      <td>zaina.goldsmith@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#3</th>
      <td>Mahima Lopez</td>
      <td>mahima.lopez@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#4</th>
      <td>Pharrell Murray</td>
      <td>pharrell.murray@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#5</th>
      <td>Annika Mcbride</td>
      <td>annika.mcbride@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#6</th>
      <td>Fatimah Clark</td>
      <td>fatimah.clark@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#7</th>
      <td>Klaudia Rhodes</td>
      <td>klaudia.rhodes@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#8</th>
      <td>Tillie Lucero</td>
      <td>tillie.lucero@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#9</th>
      <td>Sabrina Stephenson</td>
      <td>sabrina.stephenson@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">#10</th>
      <td>Annie Smith</td>
      <td>annie.smith@mail.com</td>
      <td>Yes</td>
      <td class="text-end">
        <button type="button" class="btn p-0 me-4">
          <span class="material-symbols-outlined d-block"> visibility </span>
        </button>
        <button type="button" class="btn p-0">
          <span class="material-symbols-outlined d-block"> edit </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
