<nav aria-label="Page navigation example" class="table-pagination">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link p-1" href="#" aria-label="Previous">
        <span class="material-symbols-outlined d-block"> chevron_left </span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link p-1" href="#" aria-label="Next">
        <span class="material-symbols-outlined d-block"> chevron_right </span>
      </a>
    </li>
  </ul>
</nav>
