.aside {
  width: 296px;
}

.aside a {
  position: relative;
}

.aside a.active ::before {
  content: "";
  width: 4px;
  height: 32px;
  background-color: $primary;
  display: block;
  position: absolute;
  left: -32px;
  top: -4px;
}
